#page-title {
    display: none;
}
nav {
    
    position: fixed;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0.7%;
    justify-self: center;
    width: 90%;
    height: fit-content;
    background-color: lightblue;
    border-radius: 200px;
    border: solid 0.5px #660000;
}
nav ul {

    margin-top: 0%;
    margin-bottom: 0%;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    height: fit-content;
    list-style-type: none;
    font-size: large;
    font-weight: bold;
}
nav ul li{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    float: left;
    height: 100%;
    width: 9.3%;
    justify-self: center;
    align-self: center;
    text-align: center;
    border-right: solid 0.5px #660000;
    font-size: 15px;
}
#cs-navbar {
    font-size: 11px;
}
#navbar-legal {
    border-right: none;
}
#codeblog-logo {
    color: #002244;
    font-weight: bolder;
}
@media only screen and (max-width: 500px) {
    body {
        nav {
    
            position: fixed;
            margin-left: 4%;
            margin-right: 4%;
            justify-self: center;
            width: 90%;
            height: fit-content;
            background-color: lightblue;
            border-radius: 200px;
            border: solid 0.5px #660000;
        }
        nav ul {

            list-style-type: none;
            font-weight: bold;
        }
        nav ul li {
            border: none;
        }
        nav ul li:not(#codeblog-logo-list-item, #navbar-legal, #navbar-about){
            display: none;
        }
    }
    
}
@media only screen and (min-width: 500px) and (max-width:900px) {
    body {
        nav ul li {
            border: none;
        }
        nav ul li:not(#codeblog-logo-list-item, #navbar-legal, #navbar-about){
            display: none;
        }
    }
}
#table-title {
    margin-left: 10%;
}
#list-inside-table-contents {
    list-style-type: upper-latin;
}
#table-frontend-link {
    text-decoration: none;
}
#table-frontend-section {
    margin-top: 5%;
}
body {
    background-image: linear-gradient(100deg, #ACE1AF,  	#E5E4E2);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
p, h1, h3, ol, ul, #front-end-title{
    margin-left: 10%;
    margin-right: 10%;
}
h1, h2, h3 {
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: hsl(0, 100%, 20%);
    
}
@media only screen and (max-width: 500px) {
    body {
        p, h1, h3, ol, ul, #front-end-title{
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}
@media only screen and (min-width: 500px) and (max-width:900px) {
    body {
        p, h1, h3, ol, ul, #front-end-title{
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}
a {
    color: #660000;
    
}
#contents-list{
    display: flex;
    
    flex-direction: column;
}
.table-list,
.table-list-items {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#inside-title-list {
    margin-left: 0;
    list-style-type: upper-latin;
}
#article-title {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    
}
#front-end-sections-list {
    list-style-type: upper-latin ;
    margin-left: 10%;
    
}
#front-end-sections-list h3 {
    margin-left: 1%;
}
#front-end-sections-list p{
    margin-left: 0;
}
p {
    text-indent: 3rem;
    font-size: 20px;
    text-align: justify;
}
footer ul {
    list-style-type: none;
}
footer {
    margin-left: 0;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2.5%;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: start;
    background-color: lightblue;
    border-top: solid 0.7px #660000;


}
#frontend-page-footer {
    margin-top: 3%;
}
footer ul a {
    color: blue;
    text-decoration: none;
}
footer ul a:hover {
    color: red;
}
footer ul a:active {
    color: blueviolet;
}
