#page-title {
    display: none;
}

nav {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0.7%;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    max-height: fit-content;
    background-color: lightblue;
    border-radius: 200px;
    border: solid 0.5px #660000;
}
#navbar ul {

    margin-top: 0%;
    margin-bottom: 0%;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    height: fit-content;
    list-style-type: none;

}
#navbar ul li:not(#codeblog-logo, #ds-navbar){
    float: left;
    height: 100%;
    width: 9.3%;
    justify-self: space-around;
    align-self: center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
#navbar ul li:not(#navbar-legal){
    border-right: solid 0.5px #660000;

}

#ds-navbar {
    font-size: 12px;
    font-weight: 700;
}

#navbar-legal {
    border-right: none;
}
#codeblog-logo {
    color: #002244;
    font-weight: bolder;
    font-size: 21px;
}
#codeblog-logo-list-item {
    border-right: none;
    float: left;
    height: 100%;
    width: 9.3%;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 2%;

}
@media only screen and (max-width: 500px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
    article {
        margin-left: 0;
        margin-right: 0;
    }
    #navbar {

        position: fixed;
        margin-left: 0;
        margin-right: 0;
        justify-self: space-around;
        justify-items: space-around;
        background-color: lightblue;
        border-radius: 200px;
        border: solid 0.5px #660000;
        height: 0.3%;

    }
    #navbar ul {

        list-style-type: none;
        font-weight: bold;
        
    }
    #navbar ul li {
        font-size: 15px;
        
    }

    
    
}
@media only screen and (min-width: 500px) and (max-width:700px) {
    body{
        margin-left: 0;
        margin-right: 0;
    }
    article {
        margin-left: 0;
        margin-right: 0;
    }
    #navbar {
        justify-self: space-around;
        justify-items: space-around;
    }
    
}
@media only screen and (min-width: 700px) and (max-width:1000px) {
    body{
        margin-left: 0;
        margin-right: 0;
    }
    article {
        margin-left: 0;
        margin-right: 0;
    }
    #navbar {
        justify-self: space-around;
        justify-items: space-around;
    }

}
@media only screen and (min-width: 1000px) and (max-width:1300px) {
    body{
        margin-left: 0;
        margin-right: 0;
    }
    article {
        margin-left: 0;
        margin-right: 0;
    }
    #navbar {
        justify-self: space-around;
        justify-items: space-around;
    }
    #navbar ul li {
        font-size: 10px;

    }
}

#front-end-page-title {
    margin-left: 0;
}
#table-title {
    margin-left: 15%;
}
#tb-contents-title {
    margin-left: 0;
}
#list-inside-table-contents {
    list-style-type: upper-latin;
}
#table-frontend-link {
    text-decoration: none;
}
#table-frontend-section {
    margin-top: 5%;
}
body {
    background-image: linear-gradient(to right, #ACE1AF,  	#E5E4E2);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}
article {
    margin-right: 15%;
}
p {

    text-indent: 3rem;
    font-size: 21px;
    text-align: justify;
}

ol, ul {

    padding-bottom: 2%;
}

h1, h2, h3 {

    margin-bottom: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: hsl(0, 100%, 20%);
    
}


a {
    color: #660000;
    
}
#contents-list{
    display: flex;
    
    flex-direction: column;
}
.table-list,
.table-list-items {

    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
}
.table-list {
    margin-left: 15%;
}
#inside-title-list {
    margin-left: 0;
    list-style-type: upper-latin;
}
#article-title {
    margin-left: 15%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    
}
#front-end-sections-list {
    list-style-type: upper-alpha ;
    margin-left: 15%;
    
}
#front-end-sections-list h3 {
    margin-left: 1%;
}
#front-end-sections-list p{
    margin-left: 0;
}

footer ul {
    list-style-type: none;
}
footer {
    margin-left: 0;
    
    padding-top: 2.5%;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: start;
    background-color: lightblue;
    border-top: solid 0.7px #660000;

}
#frontend-page-footer {
    margin-top: 3%;

}
footer ul li {
    color: #002244;
    font-size: 15px;
    font: weight 450;
}
footer ul a {
    color: blue;
    text-decoration: none;
}
li a:hover {
    color: darkred;
    text-decoration: none;
}
li a:active {
    color: blueviolet;
}
@media only screen and (min-height: 800px ) {
    footer {
        margin-top: 63%;
        margin-bottom: 0;
    }
    
}